SECRET_KEY=django-insecure-cambia-esto-en-render
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
SITE_URL=http://127.0.0.1:8000

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=baikureservas@gmail.com
EMAIL_HOST_PASSWORD=TU_APP_PASSWORD
DEFAULT_FROM_EMAIL=Baiku Reservas <baikureservas@gmail.com>
