{% extends "reservas/base.html" %}

{% block content %}
{% include "reservas/partials/progreso.html" %}

<div class="card">
    <h2>Resumen</h2>

    <div class="summary">
        <div><span>Personas</span><strong>{{ reserva.personas }}</strong></div>
        <div><span>Fecha</span><strong>{{ reserva.fecha }}</strong></div>
        <div><span>Hora</span><strong>{{ reserva.hora }}</strong></div>
        <div><span>Zona</span><strong>{{ reserva.zona_nombre }}</strong></div>
        
    </div>

    

    <form method="post" action="{% url 'confirmar_reserva' %}">
        {% csrf_token %}
        <button class="button">Confirmar reserva</button>
    </form>

    <a class="back-link" href="{% url 'reserva_datos' %}">Volver</a>
</div>
{% endblock %}
